html {
    /* tamañao de fuente x defecto */
    font-size: 16px; 
}

.menu {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
}

.menu a {
    color: black;
    text-decoration: none;
    margin: .3rem;
}

.menu img {
    width: 40px;
}

.logo {
    text-align: center;
    margin-bottom: 1rem;
}

.buscador {
    text-align: center;
}

.buscador input[type=text] {
    width: 40vw;
    height: 7vh;
    border-radius: 30px;
    border: 1px solid lightgray;
    margin-bottom: 2rem;
}

.buscador input[type=submit] {
    padding: .5rem .9rem;
    color: rgb(118, 118, 118);
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    background-color: #f8f9fa;
    font-size: .9rem;
    margin: 0 .5rem 0 .5rem;
}